<%= render 'dashboard' %>
<%= render 'about' %>
<section>
  <div id="projects">
    <%= render 'projects' %>
  </div>
</section>



  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row ">
          <div class="caption center-align">
          <h5 class="header col s12 light center">
            “It's the possibility of having a dream come true that makes life interesting.”
          </h5>
          <h6 class=" header right col offset-s3light light grey-text text-lighten-3">
            ― Paulo Coelho, The Alchemist
          </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax">
      <%= image_tag @background1, alt: "Unsplashed background img 2", class: 'background-image'%>
    </div>
  </div>
  <div id="resume">
    <%= render 'resume' %>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
        <div class="caption center-align">
          <h5 class="header col s12 light">
          “Remember that you are a Black Swan.”</h5>
          <h6 class=" header right col offset-s3light">
            ― Nassim Nicholas Taleb
          </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax">
      <%= image_tag @background2, alt: "Unsplashed background img 3" %>
    </div>
  </div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <%= link_to  "#top", class: "btn-floating btn-large indigo" do %>
      <i class="large material-icons">open_in_browser</i>
    <% end %>
</div>
